// out: style.css
@font-face {
    font-family: 'Conv_ITCAvantGardeStd-XLt';
    src: url('fonts/ITCAvantGardeStd-XLt.eot');
    src: local('☺'), url('../fonts/ITCAvantGardeStd-XLt.woff') format('woff'), url('../fonts/ITCAvantGardeStd-XLt.ttf') format('truetype'), url('../fonts/ITCAvantGardeStd-XLt.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@mainRed: #E5005F;
@mainGreen: #76B72A;
@lightGreen: #CEE1AC;
@red: #f8634d;
@blue: #28bbb3;
@green: #b2cd1c;
@orange: #ebb424;
@red-lighter: lighten(@red,
10%);
@blue-lighter: lighten(@blue,
10%);
@green-lighter: lighten(@green,
10%);
@orange-lighter: lighten(@orange,
10%);
@gray-base: #000;
@gray-darker: lighten(@gray-base,
13.5%); // #222
@gray-dark: lighten(@gray-base,
20%); // #333
@gray: lighten(@gray-base,
33.5%); // #555
@gray-light: lighten(@gray-base,
46.7%); // #777
@gray-lighter: lighten(@gray-base,
93.5%); // #eee
body {
    font-family: 'Conv_ITCAvantGardeStd-XLt', sans-serif;
}
h1 {
    text-transform: uppercase;
    text-align: center;
}
body {
    font-size: 16px;
}
.link {
    color: @mainRed;
    padding: 5px 10px;
    &:hover,
    &focus {
        color: #fff;
        background-color: @mainRed;
        text-decoration: none;
    }
}
#logo,
#logo-login {
    background-image: url(../img/club4ever.png);
    background-size: contain;
    height: 160px;
    width: 330px;
    padding: 0;
    margin: auto;
    display: block;
}
#logo {
    margin: auto
}
@media (min-width: 768px) {
    #logo-login {
        float: left;
    }
}
.navbar-default {
    background: transparent;
    border: none;
    .white {
        color: #fff !important;
        line-height: 1.5em !important;
    }
    .login-sm {
        background-color: @mainRed;
        text-align: center;
        line-height: 1.5em;
        span {
            font-size: .9em;
        }
    }
    @media (min-width: 768px) {
        .navbar-collapse {
            position: absolute;
            top: 0;
            right: 0;
        }
        .navbar-nav {
            li > a {
                color: @mainGreen;
                padding: 15px;
                line-height: 3em;
                &:hover,
                &:focus {
                    color: @lightGreen
                }
            }
        }
    }
    .navbar-toggle {
        border: none;
        .icon-bar {
            background-color: @mainRed;
        }
    }
}
.navbar-toggle {
    position: absolute;
    top: 0;
    right: 0;
}
.container-form {
    background-color: @mainRed;
    padding: 20px;
    color: #fff;
    margin-bottom: 20px;
}
form {
    .btn-default {
        border: none;
        background-color: @mainGreen;
        color: #fff;
        border-radius: 0;
        font-size: 1.5em;
        padding: 10px 20px;
        margin-bottom: 20px;
    }
}
@media (max-width: 767px) {
    #logo,
    #logo-login {
        height: 80px;
        width: 165px;
    }
    #logo-login {
        margin: auto;
    }
    .navbar-default {
        .navbar-nav {
            text-align: right;
            background-color: @mainGreen;
            text-transform: uppercase;
            width: 90%;
            float: right;
            li > a {
                color: #fff;
                padding: 15px;
                &:hover {
                    color: @lightGreen
                }
            }
        }
    }
    h2 {
        font-size: 18px;
    }
}
.news {
    padding: 5px 20px 5px 15px;
    color: #fff;
    margin-bottom: 10px;
    .glyphicon-menu-right {
        top: 40px;
    }
    a {
        color: #fff;
    }
}
#invio-docs {
    color: #fff;
    line-height: 50px;
    margin-bottom: 20px;
    a {
        color: #fff
    }
    .glyphicon-menu-right {
        margin-top: 17px;
    }
    .col-xs-10 {
        margin-bottom: 1px;
    }
}
.red {
    background-color: @red;
}
.blue {
    background-color: @blue;
}
.green {
    background-color: @green;
}
.orange {
    background-color: @orange;
}
.red-lighter {
    background-color: @red-lighter;
}
.blue-lighter {
    background-color: @blue-lighter;
}
.green-lighter {
    background-color: @green-lighter;
}
.orange-lighter {
    background-color: @orange-lighter;
}
.gray {
    background-color: @gray
}
.gray-light {
    background-color: @gray-light
}
.gray-lighter {
    background-color: @gray-lighter
}
.panel-group {
    .panel {
        border: 0;
        .panel-heading {
            background-color: @mainRed;
            border-radius: 0;
            color: #fff;
            a:hover,
            a:focus {
                text-decoration: none
            }
            &:hover,
            &:focus {
                background-color: @mainGreen;
            }
        }
    }
}
.evento {
    a {
        color: #fff;
        float: right;
        padding-top: 3px;
    }
}
.data-evento {
    font-size: 1.2em;
    padding: 7px;
    background-color: @mainGreen;
    color: #fff;
    display: block;
}
.title {
    color: @mainRed;
    font-size: 3.2em;
    text-transform: uppercase;
    text-align: center;
    margin: 70px 0 20px 0;
    span {
        color: @mainGreen;
    }
}
#home {
    background-image: url(../img/club.jpg);
    background-size: cover;
    padding: 300px 0;
    .title {
        background: rgba(250, 250, 250, 0.8);
        width: 450px;
        margin: auto;
        padding: 15px;
    }
}
@media (max-width: 767px) {
    #home {
        padding: 50px 0;
        .title {
            width: 300px;
            padding: 10px;
            font-size: 2em;
        }
    }
}
.button-down {
    background-color: @mainRed;
    border-radius: 50%;
    border: 0;
    color: #fff;
    display: block;
    margin: auto;
    margin-top: 60px;
    height: 50px;
    width: 50px;
    &:hover,
    &:focus {
        background-color: @mainGreen;
        color: #fff;
    }
}
ul {
    list-style: none;
    margin-bottom: 60px;
    padding-left: 0;
    li {
        margin-bottom: 20px;
    }
}
.bottone {
    text-transform: uppercase;
    border: 2px solid;
    color: #333;
    padding: 20px 15px 15px 15px;
    margin: auto;
    display: block;
    width: 140px;
    line-height: 1;
    margin-bottom: 60px;
    &:hover,
    &:focus {
        text-decoration: none;
        color: @mainGreen;
        border-color: @mainGreen;
    }
}
.bg-red {
    background-color: @mainRed;
    color: #fff;
    .title {
        color: #fff;
    }
}
#footer {
    padding: 60px 0;
}
.n-verde {
    background-color: @mainGreen;
    color: #fff;
    padding: 20px 15px 15px 15px;
}
.bigger {
    font-size: 3.2em;
    text-transform: uppercase;
}
@media (max-width: 767px) {
    .bigger {
        font-size: 2.6em;
    }
}
.link-mail {
    font-weight: bold;
    border-bottom: 5px solid #ddd;
    color: #333;
    &:hover,
    &:focus {
        color: @mainRed;
        text-decoration: none;
    }
}
.bg-green {
    background-color: @mainGreen;
    color: #fff;
    .title {
        color: #fff;
    }
    li {
        color: #333
    }
}
@media (min-width: 992px) {
    #carriera {
        background-image: url("../img/people.png");
        background-position: right bottom;
        background-repeat: no-repeat
    }
}
.manager,
.assistant-manager,
.supervisor,
.assistant-supervisor,
.me {
    background-position: center;
    width: 160px;
    height: 55px;
    color: #fff;
    text-align: center;
    line-height: 1em;
    padding-top: 15px;
    font-size: 14px;
}
.manager {
    background-image: url(../img/manager.png);
}
.assistant-manager {
    background-image: url(../img/assistant-manager.png);
}
.supervisor {
    background-image: url(../img/supervisor.png);
}
.assistant-supervisor {
    background-image: url(../img/assistant-supervisor.png);
}
.me {
    background-image: url(../img/me.png);
}
.bg-red-quotation {
    background-color: @mainRed;
    color: #fff;
    margin-top: 70px;
    .title {
        color: #fff;
        text-transform: none;
        margin-top: 40px;
        font-size: 2em;
    }
}
.padding-bottom-60 {
    padding-bottom: 60px;
}
@media (min-width: 992px) {
    #prodotti-aloe {
        background-image: url("../img/aloe.png");
        background-position: right bottom;
        background-repeat: no-repeat
    }
}
iframe {
    width: 100%;
    border: 0;
    border-top: 1px solid #555555
}
#invio-docs .form-control {
    border-radius: 0 !important;
}
.loading-overlay {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    padding-top: 10%;
    text-align: center
}
.loading-overlay i {
    font-size: 300%;
}
.response {
    font-weight: bold;
}
.has-error .select2-selection {
    border-color: #a94442 !important;
}
.message {
    font-weight: bold;
    color: #8E2323
}
